@import "./variables.scss";
#desktopApp-footer {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    @include centered;
    #desktopApp-copyright-wrapper {
      @include centered;
      padding-right : 40px;
    }
  }
  