@import "./variables.scss";
#desktopApp-footer {
    display: flex;
    justify-content: space-between;
    background-image: url('../../public/background/headerbg.jpg');
    background-size: fill;
    background-position: center center;
    background-repeat: none;
    padding : 5px 0px 5px 0px;
    height: 100%;
    @include centered;
    #desktopApp-copyright-wrapper {
      @include centered;
      padding-right : 40px;
    }
  }
  