@import './variables.scss';
#desktopApp-header{
    display : flex;
    flex-direction : row ;
    justify-content : space-between;
    align-items : center ;
    height: 10dvh;
    padding-bottom: 8px;
    background-image: url('../../public/background/headerbg.jpg');
    background-size: fill;
    background-position: center center;
    background-repeat: none;
    #desktopApp-logo{
        @include centered;
        padding-top: 3px;
        padding-left: 40px;

        img {
            width: 80px;
            margin-top: 15px;
            background: transparentize($color: white, $amount: 1);
        }
    }
    #desktopApp-motto{
        width: 15dvw;
        @include centered;
        padding-top: 5px;
        object-fit: scale-down;
        flex-wrap: wrap;
        font-style: italic;
        font-weight: bold;
        color: #c6c8c7;
    }
}