@import "./variables.scss";
#mobileApp-logo{
        @include centered;
        padding-top: 1vh;
        padding-left: 1vw;
        padding-bottom: 1vh;

        img {
            width: 25vw;
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
}
#mobileApp-chatbot-modal-wrapper{
    @include centered;
}
#mobileApp-container{
    background-image: url('../../public/background/headerbg.jpg');
    background-size: fill;
    background-position: center center;
    background-repeat: none;
}
