@import "./variables.scss";


body{
    background-color: $greywhite;
    height: 100%;
}

#desktopApp-content, #mobileApp-container{
    display: flex;
    flex-direction: row;
    background-image: url('../../public/background/headerbg.jpg');
    background-size: fill;
    background-position: center center;
    background-repeat: none;
    padding-bottom: 3px;
    height: 100%;
}

#desktopApp-container{
    height: 100%;
}
#root{
    height: 100%;

}

.clickable , .menu-tab, .nav-tab, .btn {
    cursor: default;
}
.clickable , .menu-tab, .nav-tab, .btn :hover{
    cursor: pointer;
}