@import "./variables.scss";


body{
    background-color: $greywhite;
    height: 100dvh;
    width: 100dvw;
}
html{
    height: 100dvh;
    width: 100dvw;
}

#desktopApp-content{
    display: flex;
    flex-direction: row;
    background-image: url('../../public/background/headerbg.jpg');
    background-size: fill;
    background-position: center center;
    background-repeat: none;
    padding-bottom: 3px;
    height: 71.3dvh;
}

#desktopApp-container{
    height: 100dvh;
}
#root{
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;

}

.clickable , .menu-tab, .nav-tab, .btn {
    cursor: default;
}
.clickable , .menu-tab, .nav-tab, .btn :hover{
    cursor: pointer;
}